.header {
  height: 175px;
  background-color: #950648;
  background-size: cover;
  border: 0px solid rgb(0, 0, 0);
  width: 980px;
  margin: 0px;
  position: relative;
  padding: 0px;
  font-size: 50px;
}

#logohome {
  left: 50px;
  top: -50px;
  position: relative;
}

#logoback {
  left: -30px;
  top: 25px;
  position: relative;
}

#connection {
  left: 100px;
  top: -80px;
  position: relative;
  text-decoration: none;
}

#inscription {
  left: 120px;
  top:-80px;
  position: relative;
  text-decoration: none;
}

body{
    margin: 0px;
    width: 980px;
    height: 6000px; /*hauteur de la page */
}

#logott {
    position: relative;
    top: 22px;
    left:0px;
    width: 200px;
}

.degrade-diagonal {
  background: linear-gradient(to bottom right, #d91e63, #a61b5b)
}

.G1 {
  position: relative;
  top:70px;
  right: 70px;
  width: 250px;
  height: 330px;
  border-radius: 35px;
  box-shadow: 15px 15px #950648;
  text-decoration: none;
}

.G2 {
  position: relative;
  left: 70px;
  top: 170px;
  width: 250px;
  height: 330px;
  border-radius: 35px;
  border-radius: 35px;
  box-shadow: 15px 15px #950648;
  text-decoration: none;
}

.G3 {
  position: relative;
  top:170px;
  right: 70px;
  width: 250px;
  height: 330px;
  border-radius: 35px;
  border-radius: 35px;
  box-shadow: 15px 15px #950648;
}

.G4 {
  position: relative;
  top: 40px;
  left: 70px;
  width: 250px;
  height: 330px;
  border-radius: 35px;
  border-radius: 35px;
  box-shadow: 15px 15px #950648;
}

.G5 {
  position: relative;
  top:30px;
  right: 70px;
  width: 250px;
  height: 330px;
  border-radius: 35px;
  border-radius: 35px;
  box-shadow: 15px 15px #950648;
}

.G6 {
  position: relative;
  top:80px;
  left: 70px;
  width: 250px;
  height: 330px;
  border-radius: 35px;
  border-radius: 35px;
  box-shadow: 15px 15px #950648;
}

.nomdefilm {
  font-size: 80px;
  text-align:center
}

.G9 {
  margin-left: -50px;
  margin-top: -30px;
}

.G10 {
  margin-left: -280px;
  margin-top: -180px;
}

.G11 {
  margin-left: 330px;
  margin-top: -70px;
}

.G12 {
  margin-left: 330px;
  margin-top: -180px;
}

.G13 {
  margin-left: -50px;
  margin-top: 50px;
}

.encadrer { 
  border: 3px solid black;
   padding: 50px;
   border-radius: 40px;
   vertical-align: center;
   margin: 20px;
   text-align:center;
}

.imgf {
  position: relative;
  top: -10px;
  border-radius: 30px;
}

.lecteur {
  position: relative;
  margin-top: 20px;
}