.couleur-tt{
    color: #8A2BE2;
}

.body{
    font-family: cursive;
    color: #1a1616;
}

.body{
    background-color: #bf1b68;

}
.body{
    margin: 0;
    padding: 0;
}

.text-center{
    text-align: center;
  }

.logo img {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #0000FF;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.logo:hover img {
    background-color: #ff0000;
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
}

.titre {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #0000FF;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.titre:hover  {
    background-color: #ff0000;
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }  
  .header
{
     background: red;
     height: 200px;
     width: 100%;
     margin: 0;
     padding: 10px;
}
 .h9
 {
    font-size: 2em;
     color: #365b54;
    }

    *{

        margin:0;
        
        padding:0;
        
        }
        
         
        
        body, html{height:100%;}
        
        body{
        
        text-align:center;
        
        }
        
         
        
        #main{
        
        max-width:1280px;
        
        min-height:100%;
        
        margin:0 auto;
        
        position:relative;
        
        }
        
         
        
        footer{
        
        background:#ccc;
        
        position:absolute;
        
        bottom:0;
        
        width:100%;
        
        padding-top:50px;
        
        height:50px;
        
        }
        .flex-row{
            display: flex;
            flex-direction: row;
          }