.couleur-tt{
<<<<<<< HEAD
    color: ##1a1616;
=======
    color: #8A2BE2;
>>>>>>> 6c9c872cb83fa44c47200255e83e898dbb2804df
}

.body{
    font-family: cursive;
<<<<<<< HEAD
    color: #000000;
}

.body{
=======
    color: #8A2BE2;
    margin: 0;
    padding: 0;
>>>>>>> 6c9c872cb83fa44c47200255e83e898dbb2804df
    background-color: #bf1b68;
    font-family: cursive;
    color: #1a1616;
}

.text-center{
    text-align: center;
  }

.logo img {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #0000FF;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.logo:hover img {
    background-color: #ff0000;
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
}



.titre {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #0000FF;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.titre:hover  {
    background-color: #ff0000;
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
  }

<<<<<<< HEAD

  .cadre {
    border: 5px solid black;
  }

  .boxe {
    padding: 1px;
    width: calc(110% - 800px);
    background-color: #bf1b68;
    color: rgb(0, 0, 0);
  }

  .rotation ° MEMOtext ou image° {
    margin: 1px;
    width: 10px;
    height: 10px;
    background-color: rebeccapurple;
    transform: rotate(0.1turn);
  }

  .gauche {
    display: flex;
    justify-content: center;
    align-items: left;
  }
   .bottom {
    top: 500px ;
   }

   *{
    margin:0;
    padding:0;
  }
  
  .container{  padding-top: 20px;
    padding-bottom: 20px;}
  body{
    background-color: #111845;
  }
  
  .background-img{
    background-image: url("");
  height: 400px;
    width: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto;
    padding:20px;
    border: 1     px solid #2a3cad;
    border-radius: 4px;
    box-shadow: 0px 0px 5   px #2a3cad;
    position: relative;
  }
  
  .content h2{ font-size:19px;}
  
  .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
  }
  
  .box:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }
  
  .box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
  }
  
  
  .box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #f0a591;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
  }
  
  .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
  }
  
  .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(270deg);
  }
  
  .box span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  } 
=======
  .left { 
    float:left; 
    margin:0px 0px;
  }

  .header {
    height:400px;
    background-color: #8A2BE2;
    border:0px solid #CCC;
    width:1000px;
    margin:0px auto;
    position: relative;
  }
  
  #header h1{
    color:white;
    text-align: center
  }
           

  .img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }  
  .header
{
     background: red;
     height: 200px;
     width: 100%;
     margin: 0;
     padding: 10px;
}
 .h9
 {
    font-size: 2em;
     color: #365b54;
    }

    *{

        margin:0;
        
        padding:0;
        
        }
        
         
        
        body, html{height:100%;}
        
        body{
        
        text-align:center;
        
        }
        
         
        
        #main{
        
        max-width:1280px;
        
        min-height:100%;
        
        margin:0 auto;
        
        position:relative;
        
        }
        
         
<<<<<<< HEAD
        .flex-row{
            display: flex;
            flex-direction: row;
          }
=======
>>>>>>> a1c35c803a6b19dbda9a9cfa218f7a2252789d1d
>>>>>>> 6c9c872cb83fa44c47200255e83e898dbb2804df
