.header {
  height: 175px;
  background-color: #950648;
  background-size: cover;
  border: 0px solid rgb(0, 0, 0);
  width: 980px;
  margin: 0px;
  position: relative;
  padding: 0px;
  font-size: 50px;
}

#logohome {
  left: 50px;
  top: -50px;
  position: relative;
}

#logoback {
  left: -30px;
  top: 25px;
  position: relative;
}

#connection {
  left: 100px;
  top: -80px;
  position: relative;
  text-decoration: none;
}

#inscription {
  left: 120px;
  top: -80px;
  position: relative;
  text-decoration: none;
}

body {
  margin: 0px;
  width: 980px;
  height: auto;
}

#logott {
  position: relative;
  top: 22px;
  left: 0px;
  width: 200px;
}

.degrade-diagonal {
  background: linear-gradient(to bottom right, #f50b03, #e6800b);
  background-repeat: no-repeat;
}


.G1 {
  position: relative;
  width: 250px;
  height: 330px;
  border-radius: 35px;
  box-shadow: 10px 10px #2a2a2b;
  font-size: 80px;
}

.encadrer {
  border: 3px solid black;
  padding: 50px;
  border-radius: 40px;
  vertical-align: center;
  margin: 20px;
  text-align: center;
}

.encadrer3 {
  padding-left:110px;
  padding-right:110px;
  font-size: 80px;
  margin-top: 50px;
  width: 760px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border: -1px solid #000000; /*border pour la mise en page,le passer en transparent au cas ou mais ne pas supprimer^^ */
}

.encadrer4 {
  font-size: 80px;
  margin-top: 50px;
  padding-left:110px;
  padding-right:110px;
  width: 760px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: -1px solid #000000; /*border pour la mise en page,le passer en transparent au cas ou mais ne pas supprimer^^ */
}

.imgf {
  position: relative;
  top: -7px;
  border-radius: 30px;
}

.lecteur {
  position: relative;
  margin-top: 20px;
}

.footer {
  height: 155px;
  background-color: #950648;
  background-size: cover;
  border: 0px solid rgb(0, 0, 0);
  width: 980px;
  margin: 0px;
  position: absolute;
  text-indent: 25px;
  font-size: 20px;
}

.cadrefilm {
  position: relative;
  width: 250px;
  height: 330px;
  border-radius: 35px;
  box-shadow: 15px 15px #950648;
  text-decoration: none;
  border: solid#e6800b;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.biblio {
  font-size:5.5em;
  display:flex;
  justify-content: center;
}

.derniereligne{
  margin-bottom: 150px;
}