<!DOCTYPE html>
 <html> <head> 
<meta charset="utf-8"> 

<link
    type="text/css"
    rel="stylesheet"
    href="../assets/cssgreg.css"
    media="screen,projection"
  />
  <style>
    a {
      text-decoration: none;
      color: black;
    }
  </style>
<title>Avatar</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

 </head>
 <body class="degrade-diagonal">
  <header>
    <!-- Navbar-->
    <nav
      class=" navbar navbar-expand-lg navbar-light bg-black text-wite"
      style="height: 10em"
    >
      <div class="d-flex align-items-center justify-content-between col">
        <!-- Left elements -->
        
          <!-- Brand -->

          
            <div class=" d-flex ">
              <a
                class="navbar-brand me-2 mb-1 "
                href="javascript:history.go(-1)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="48"
                  height="48"
                  fill="currentColor"
                  class="bi text-white mx-5 bi-skip-backward-circle-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.79-2.907L8.5 7.028V5.5a.5.5 0 0 0-.79-.407L5 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407V8.972l2.71 1.935A.5.5 0 0 0 12 10.5v-5a.5.5 0 0 0-.79-.407z"
                  />
                </svg>
              </a>
            </div>

            
            <div class=" d-flex justify-content-center ">
              <a
                ><img
                  src="../assets/img/TTlogovoir.jpeg"
                  height="130"
                  alt="TTlogo"
                  loading="lazy"
                  href="../view/fil_rouge.html"
                />
              </a>
            </div>
          

          <!-- Search form -->
          
        
        <!-- Left elements -->

    
        
        <!-- Right elements -->
        
        <ul class="navbar-nav flex-row">
          <li class="nav-item me-3 me-lg-1">
            <div class="container">
              <a class="nav-link d-sm-flex align-items-sm-center" href="#">
                <img
                  src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp"
                  class="rounded-circle"
                  height="66"
                  alt="Black and White Portrait of a Man"
                  loading="lazy"
              />
              <p class="fs-1 m-3 text-white">Profil</p>
              </a>
            </div>
          </li>
        </ul>
        <!-- Right elements -->
      </div>
    </nav>
    <!-- Navbar -->
  </header>
    <div align="center">
      <img src="../assets/img/film/avatar/avatarlarge.jpg" width="980" height="600px" >
      <h1>Avatar</h1>
      <p>James Cameron</p>
      <p>16/12/2009</p>
      <p>Science fiction</p><br><br>
    </div>
   
    <div class="encadrer">
      <img class="imgf" alt="photo scene"align="right" src="../assets/img/film/avatar/avatar_titre1.jpg" width="250" eight="203px" />
      Becoming one with Neytiri <br>(James Horner)<br>
      <audio class="lecteur" controls preload="auto" src="../assets/img/musique film/avatar/avatar soundtrack.mp3" > Votre navigateur ne supporte pas la balise audio . </audio><br>
    </div>

    <!--test greg-->
    <!--debut avatar-->
    <a href="../view/avatar.html">
      <div
        class="card rounded-5 m-5 flex-row align-items-center justify-content-center"
      >
        <div class="d-flex card-body col-6 col-md-4">
          <img
            src="../assets/img/film/avatar/avatar.jpg"
            class="img-fluid flex-end rounded-5 m-3"
            alt="avatar"
            width="200px"
          />
        </div>
        <div class="card-body text-center col-sm-6 col-md-8">
          <h1 class="fs-1">Nom du film</h1>
          <p class="fs-2">Avatar</p>
          <audio controls preload="auto" src="PHOTO\page type/ytmp3free.cc_leona-lewis-i-see-you-theme-from-avatar-official-video-youtubemp3free.org.mp3" > Votre navigateur ne supporte pas la balise audio . </audio>
        </div>
      </div>
    </a>
    <!--fin avatar-->

    <!--debut avengers-->
    <a href="../view/Avengers.html">
      <div
        class="card rounded-5 m-5 flex-row-reverse align-items-center justify-content-center"
      >
        <div class="d-flex card-body col-7 col-md-3">
          <img
            src="../assets/img/film/avengers/avengers.jpg"
            class="img-fluid flex-end rounded-5 m-3"
            alt="avatar"
            width="200px"
          />
        </div>
        <div class=" card-body text-center col-sm-6 col-md-8">
          <h1 class=" fs-1">Nom du film</h1>
          <p class="fs-2">Avatar</p>
          <audio controls preload="auto" src="PHOTO\page type/ytmp3free.cc_leona-lewis-i-see-you-theme-from-avatar-official-video-youtubemp3free.org.mp3" > Votre navigateur ne supporte pas la balise audio . </audio>
        </div>
      </div>
    </a>
    <!--fin avatar-->
    <!--test greg-->
    
    <div class="encadrer">
      <img class="imgf" alt="photo scene"align="right" src="../assets/img/page type/photo_de_scene.jpg" width="250" />
      You don't dream in cryo<br>(James Horner)<br>
      <audio class="lecteur" controls preload="auto" src="../assets/img/musique film/avatar/avatar soundtrack2.mp3" > Votre navigateur ne supporte pas la balise audio . </audio><br>
    </div>

    <img alt=""align="right" src="PHOTO/page type/photo_de_scene.jpg" width="250" />
       2. Nom de la musique  <br><br>
    <audio controls preload="auto" src="PHOTO\page type/ytmp3free.cc_leona-lewis-i-see-you-theme-from-avatar-official-video-youtubemp3free.org.mp3" > Votre navigateur ne supporte pas la balise audio . </audio><br><br>
   
    <img alt=""align="right" src="PHOTO/page type/photo_de_scene.jpg" width="250" />
       3. Nom de la musique  <br><br>
    <audio controls preload="auto" src="PHOTO\page type/ytmp3free.cc_leona-lewis-i-see-you-theme-from-avatar-official-video-youtubemp3free.org.mp3" > Votre navigateur ne supporte pas la balise audio . </audio><br><br>

    <img alt=""align="right" src="PHOTO/page type/photo_de_scene.jpg" width="250" />
       4. Nom de la musique  <br><br>
    <audio controls preload="auto" src="PHOTO\page type/ytmp3free.cc_leona-lewis-i-see-you-theme-from-avatar-official-video-youtubemp3free.org.mp3" > Votre navigateur ne supporte pas la balise audio . </audio><br><br>

    <img alt=""align="right" src="PHOTO/page type/photo_de_scene.jpg" width="250" />
       5. Nom de la musique  <br><br>
    <audio controls preload="auto" src="PHOTO\page type/ytmp3free.cc_leona-lewis-i-see-you-theme-from-avatar-official-video-youtubemp3free.org.mp3" > Votre navigateur ne supporte pas la balise audio . </audio><br><br>

    <img alt=""align="right" src="PHOTO/page type/photo_de_scene.jpg" width="250" />
      5. Nom de la musique  <br><br>
    <audio controls preload="auto" src="PHOTO\page type/ytmp3free.cc_leona-lewis-i-see-you-theme-from-avatar-official-video-youtubemp3free.org.mp3" > Votre navigateur ne supporte pas la balise audio . </audio><br><br>

    <img alt=""align="right" src="PHOTO/page type/photo_de_scene.jpg" width="250" />
      6. Nom de la musique  <br><br>
    <audio controls preload="auto" src="PHOTO\page type/ytmp3free.cc_leona-lewis-i-see-you-theme-from-avatar-official-video-youtubemp3free.org.mp3" > Votre navigateur ne supporte pas la balise audio . </audio><br><br>

    <img alt=""align="right" src="PHOTO/page type/photo_de_scene.jpg" width="250" />
      7. Nom de la musique  <br><br>
    <audio controls preload="auto" src="PHOTO\page type/ytmp3free.cc_leona-lewis-i-see-you-theme-from-avatar-official-video-youtubemp3free.org.mp3" > Votre navigateur ne supporte pas la balise audio . </audio><br><br>

    <img alt=""align="right" src="PHOTO/page type/photo_de_scene.jpg" width="250" />
      8. Nom de la musique  <br><br>
    <audio controls preload="auto" src="PHOTO\page type/ytmp3free.cc_leona-lewis-i-see-you-theme-from-avatar-official-video-youtubemp3free.org.mp3" > Votre navigateur ne supporte pas la balise audio . </audio><br><br>

    <img alt=""align="right" src="PHOTO/page type/photo_de_scene.jpg" width="250" />
      9. Nom de la musique  <br><br>
    <audio controls preload="auto" src="PHOTO\page type/ytmp3free.cc_leona-lewis-i-see-you-theme-from-avatar-official-video-youtubemp3free.org.mp3" > Votre navigateur ne supporte pas la balise audio . </audio><br><br>

    <img alt=""align="right" src="PHOTO/page type/photo_de_scene.jpg" width="250" />
      10. Nom de la musique  <br><br>
    <audio controls preload="auto" src="PHOTO\page type/ytmp3free.cc_leona-lewis-i-see-you-theme-from-avatar-official-video-youtubemp3free.org.mp3" > Votre navigateur ne supporte pas la balise audio . </audio><br><br>

    <img alt=""align="right" src="PHOTO/page type/photo_de_scene.jpg" width="250" />
      11. Nom de la musique  <br><br>
    <audio controls preload="auto" src="PHOTO\page type/ytmp3free.cc_leona-lewis-i-see-you-theme-from-avatar-official-video-youtubemp3free.org.mp3" > Votre navigateur ne supporte pas la balise audio . </audio><br><br>

    <img alt=""align="right" src="PHOTO/page type/photo_de_scene.jpg" width="250" />
      12. Nom de la musique  <br><br>
    <audio controls preload="auto" src="PHOTO\page type/ytmp3free.cc_leona-lewis-i-see-you-theme-from-avatar-official-video-youtubemp3free.org.mp3" > Votre navigateur ne supporte pas la balise audio . </audio><br><br>


   <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


</body> </html>
