<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <body style="background-color:#BF1B68;"></body>
    <title>Ma page de test</title>
  </head>
  <body>
    <img alt="" align="right" src="PHOTO/serie/BB.jpg" width="550" /> 
<p>Breaking Bad (The Breaking Bad) est une série télévisée américaine créée en 2008 par Vince Gilligan.
   Il a été diffusé par le réseau AMC et mettait en vedette Bryan Cranston, qui joue un chimiste qui s'implique
    dans le monde du trafic de drogue pour assurer l'avenir économique de sa famille.

    <h4>Musique de la serie </h4>

    <ul>
     <a href="https://www.youtube.com/watch?v=59p7rg-mmT8"><li>Breaking Bad Theme</li></a>

     
     <a href="https://www.youtube.com/watch?v=OiIA9U1X3Ao"><li>Breaking Bad - Main Theme (Super-Extended Version)</li></a>

     <a href="https://www.youtube.com/watch?v=Iu9JI-OFsdA"><li>(10 Hours) Breaking Bad Theme Trap Remix [FREE DOWNLOAD]</li></a>

</ul>

<a href="commentaire.html">commentaire</a> <br>

<a href="javascript:history.go(-1)">Retour</a>

  </body>
</html>