<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Bibliotheque Séries</title>
    <link rel="stylesheet" type="text/css" href="CSS/cssgreg.css">
    <style>
    a {
      text-decoration: none;
      color: black;
    }
    </style>
  </head>
<body class="degrade-diagonal">
  <header>
    <div class="header">
      <a href=fil_rouge.html ><img src="PHOTO/logo home.jpg"alt="logo home" width="60px" title="logohome" id="logohome"></a>
      <a href="javascript:history.go(-1)"><img src="PHOTO/logo back.png" alt="back" width="75px" title="logoback" id="logoback"></a>
      <img src="PHOTO/logo fond rose.png" alt="logo track tracker" width="575px" title="logott" id="logott">
      <a href="connection.html" style="color:black" id="connection">Connection</a>
      <a href="inscription.html" style="color:black" id="inscription">Inscription</a>
    </div>
  </header>
  <div>
    <h1 class="biblio">Bibliotheque Séries</h1>
  </div>
  <div >
    <section>
      <article class="nomdefilm" >
        <a href="avatarfinal.html" class="encadrer4"><img class="G1"  src="PHOTO/film/avatar/avatar.jpg" alt="avatar">Avatar</a>
      </article>
    </section>
  </div>
  <div>
    <section>
      <article class="nomdefilm" >
        <a href="avatarfinal.html" class="encadrer3"><img class="G1"  src="PHOTO/film/avatar/avatar.jpg" alt="avatar">Avatar</a>
      </article>
    </section>
  </div>
  <div >
    <section>
      <article class="nomdefilm" >
        <a href="avatarfinal.html" class="encadrer4"><img class="G1"  src="PHOTO/film/avatar/avatar.jpg" alt="avatar">Avatar</a>
      </article>
    </section>
  </div>
  <div>
    <section>
      <article class="nomdefilm" >
        <a href="avatarfinal.html" class="encadrer3"><img class="G1"  src="PHOTO/film/avatar/avatar.jpg" alt="avatar">Avatar</a>
      </article>
    </section>
  </div>
  <div >
    <section>
      <article class="nomdefilm" >
        <a href="avatarfinal.html" class="encadrer4"><img class="G1"  src="PHOTO/film/avatar/avatar.jpg" alt="avatar">Avatar</a>
      </article>
    </section>
  </div>
  <div>
    <section>
      <article class="nomdefilm" >
        <a href="avatarfinal.html" class="encadrer3"><img class="G1"  src="PHOTO/film/avatar/avatar.jpg" alt="avatar">Avatar</a>
      </article>
    </section>
  </div>
  <div >
    <section>
      <article class="nomdefilm" >
        <a href="avatarfinal.html" class="encadrer4"><img class="G1"  src="PHOTO/film/avatar/avatar.jpg" alt="avatar">Avatar</a>
      </article>
    </section>
  </div>
  <div class="derniereligne">
    <section>
      <article class="nomdefilm" >
        <a href="avatarfinal.html" class="encadrer3"><img class="G1"  src="PHOTO/film/avatar/avatar.jpg" alt="avatar">Avatar</a>
      </article>
    </section>
  </div>
  <footer class="footer">
    <p>Qui somme nous</p>
    <p>Contact</p>
    <p>Nos engagements</p>
  </footer>