<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <body style="background-color:#BF1B68;"></body>


    <h2<title>RECOMMENDATION</title</h2>
      <p>track tracker vous remercie pour vos idées et recommendations</p>
     
  </head>
  <body>
    <form method="post" action="mailto:lbclbc@gmail.com">

        <textarea rows="10" cols="40" wrap="physique" name="commentaires">Ecrivez un commentaire</textarea><br />
        <input type="submit" value="M'envoyer un Email" />
        
    </form>
    <a href="javascript:history.go(-1)">Retour</a>

  </body>
</html>


