<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="Track tracker">
    <meta name="description" content="musique+Bo+film">
    <body style="background-color:#BF1B68;">
      <link
    type="text/css"
    rel="stylesheet"
    href="../assets/pagefil rouge.css"
    media="screen,projection"
  />

    <title>Track Tracker</title>
      <head>

  </head>

  <body class="degrade-diagonal">
    <header>
      <div class="header">
        <a href=fil_rouge.html ><img src="../assets/img/logo home.jpg"alt="logo home" width="60px" title="logohome" id="logohome"></a>
        <a href="javascript:history.go(-1)"><img src="../assets/img/logo back.png" alt="back" width="75px" title="logoback" id="logoback"></a>
        <img src="../assets/img/logo fond rose.png" alt="logo track tracker" width="575px" title="logott" id="logott">
        <a href="connection.html" style="color:rgb(198, 214, 24)" id="connection">Connection</a>
        <a href="inscription.html" style="color:rgb(210, 221, 18)" id="inscription">Inscription</a>
      </div>
    </header>
    
    <h1><a href="Bibliotheque films.html">  Film  </a>        [/////]   <a>          Serie</h1></a>
    <a href="../view/avatar.html"> 
    <img src="../assets/img/film/avatar/avatar.jpg" alt="avatar.html" width="185" height="250"></a>
    <a href="bb.html"><img alt="" align="right" src="../assets/img/serie/bb/BB.jpg" width="185" height="250"><br /></a>


    <img src="../assets/img/film/harry_potter/harry_potter.jpg" width="185" height="250"> <img alt="" align="right" src="../assets/img/serie/got/GOT.jpg" width="185" height="250"><br />

    <img src="../assets/img/film/avengers/avengers.jpg" width="185" height="250" /> <img alt="" align="right" src="../assets/img/serie/firends/friends.jpg" width="185" height="250"></br>

    <img src="../assets/img/film/retour_vers_le_futur/retour_vers_le_futur.jpg" width="185" height="250" /></br>

    <img src="../assets/img/film/chucky/chucky.jpg" width="185" height="250" /></br>

    <img src="../assets/img/film/hungergames/hungergames.jpg" width="185" height="250" /></br>
    </a>

  </body>
</html>

  