<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="Track tracker">
    <meta name="description" content="musique+Bo+film">
    <body style="background-color:#BF1B68;">
      <link
    type="text/css"
    rel="stylesheet"
    href="../assets/pagefil rouge.css"
    media="screen,projection"
  />

    <title>Track Tracker</title>
      <head>

  </head>

  <body class="degrade-diagonal">
    <header>
      <!-- Navbar-->
      <nav
        class=" navbar navbar-expand-lg navbar-light bg-black text-wite"
        style="height: 10em"
      >
        <div class="d-flex align-items-center justify-content-between col">
          <!-- Left elements -->
          

          <a style="color:rgb(210, 221, 18)" id="inscription"
              href="http://example.com/" 
              onclick="document.getElementById('popup').style.display = 'block'; return false;"
          >Connexion</a>
          
            <div id="popup">
                <label for="text">Adresse mail:  </label>
                <div class="col">
    
                <input type="mail" placeholder="aze@gmail.com">
                    </div>
                      <label for="password">  Mot de passe: </label>
                    <div>
                       <input type="password" placeholder="******">
                     </div>
                <p>
                    <a onclick="document.location='fil_rouge.html'; return false;">
                        Valider
                    </a>
                    <a onclick="document.getElementById('popup').style.display = 'none'; return false;">
                        Annuler
                    </a>
                </p>
            </div>
            <a href="inscription.html" style="color:rgb(210, 221, 18)" id="inscription">Inscription</a>
          </div>
      </div>
    </header>
    
    <h1><a href="Bibliotheque films.html">  Film  </a>        [/////]   <a>          Serie</h1></a>
    <a href="../view/avatar.html"> 
    <img src="../assets/img/film/avatar/avatar.jpg" alt="avatar.html" width="185" height="250"></a>
    <a href="bb.html"><img alt="" align="right" src="../assets/img/serie/bb/BB.jpg" width="185" height="250"><br /></a>


    <img src="../assets/img/film/harry_potter/harry_potter.jpg" width="185" height="250"> <img alt="" align="right" src="../assets/img/serie/got/GOT.jpg" width="185" height="250"><br />

    <img src="../assets/img/film/avengers/avengers.jpg" width="185" height="250" /> <img alt="" align="right" src="../assets/img/serie/firends/friends.jpg" width="185" height="250"></br>

    <img src="../assets/img/film/retour_vers_le_futur/retour_vers_le_futur.jpg" width="185" height="250" /></br>

    <img src="../assets/img/film/chucky/chucky.jpg" width="185" height="250" /></br>

    <img src="../assets/img/film/hungergames/hungergames.jpg" width="185" height="250" /></br>
    </a>

  </body>
</html>

  