<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="css/style.css"
      media="screen,projection"
    />
    <title>Ma page de test</title>
    <h2 class="center">Game of throne
    </h2>
    <H1 class="text-center">Joyeux anniversaire

    </H1>
  </head>
  <body>
    <h2 class="center">Game of throne
    </h2>
    <H1 class="text-center">Joyeux anniversaire

    </H1>

  </body>
</html>